[class*="icon-"] {
    background-image: url(../../img/css_sprites.png);
    background-repeat: no-repeat;
    margin-right: 0.5rem;
   }

   .icon-1 {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
   }
   .icon-2 {
    width: 15px;
    height: 18px;
    background-position: -10px -50px;
   }
   .icon-3 {
    width: 21px;
    height: 20px;
    background-position: -51px -10px;
   }

   .icon-4 {
    width: 16px;
    height: 13px;
    background-position: -45px -50px;
   }
   .icon-5 {
    width: 12px;
    height: 14px;
    background-position: -92px -10px;
   }


